//== Colors
//

$white:                         #fff;
$red:                           #d90000;
$brown:                         #2a1f16;
$primary:                       $brown;
$secondary:                     #af848b;
$selection-color:               $white;
$selection-bg-color:            $secondary;

$body-color:                    #423930;
$body-bg:                       $white;

$link-color:                    $secondary;
$link-hover-color:              darken($link-color, 15%);
$link-decoration:               none;
$link-hover-decoration:         underline;


//== General
//

$enable-rounded:                true;
$enable-shadows:                false;
$border-width:                  1px;


//== Typography
//

$font-family-sans-serif:       "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif;
$font-family-brand:            "Roboto", sans-serif;
// $font-family-headings:         "Amatic SC", sans-serif;
$font-size-base:               1rem;
// $h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                 $font-size-base * 3;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $headings-font-family:        inherit !default;
// $headings-font-weight:        500 !default;
// $headings-color:              inherit !default;

$font-weight-bold:             500;


//== Components
//


//== Others
//


//== Forms
//

$input-color:                         $body-color;
$input-bg:                            $white;
$input-border-color:                  $secondary;
$input-placeholder-color:             #6c757d;
$input-border-width:                  $border-width;

$btn-border-width:                    $border-width;


//== Navbar
//

$navbar-padding-x:                    0;
$navbar-padding-y:                    0;
$navbar-brand-padding-y:              0;
$navbar-light-color:                  $brown;
$navbar-light-hover-color:            $primary;
$navbar-light-active-color:           $primary;
$navbar-brand-font-size:              3.125rem;
$navbar-brand-font-size-fallback:     2rem;
$navbar-brand-mobile-font-size:       2rem;
$navbar-height:                       100px;
$navbar-height-small:                 64px;
$nav-link-font-size:                  1.875rem;
$nav-link-font-size-fallback:         1.5rem;
$nav-link-mobile-font-size:           1.5rem;